{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
STOP
{% endblock %}

{% block content %}
Buy only block have ended, please watch this video for instructions about the next blocks.
<p></p>
<a href="https://www.youtube.com/watch?v=5No64mHKfAo" target="_blank">Sell Only Video Link</a>
<p></p>
After you have finished the video please click this link and complete the quiz. Once everyone has completed the quiz we will conduct a short Q&A session about the sell only rounds.
<p></p>
<a href="https://forms.gle/uL341A8NQBCqtya7A" target="_blank">Sell Only Quiz</a>
{% endblock %}
