{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
STOP
{% endblock %}

{% block content %}
Buy only block have ended, please watch this video for instructions about the next blocks.
<p></p>
<a href="https://www.youtube.com/watch?v=-8jASThmmOM" target="_blank">Sell Only Video Link</a>
<p></p>
After you have finished the video please click this link and complete the quiz. Once everyone has completed the quiz we will conduct a short Q&A session about the sell only rounds.
<p></p>
<a href="https://docs.google.com/forms/u/1/d/1wBH3LBdFvN_afSFYLGzskwpKKMIBmwUKvdAk0HiWZ7c/edit?usp=sharing&urp=gmail_link&gxids=7757" target="_blank">Sell Only Quiz</a>
{% endblock %}
